# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

/TIL/springboot_exam/out/production/classes/kr/co/chunjae/springboot_exam/domain/Member.class